body{
	font-family: 'Quicksand', sans-serif;
	padding-top: 20px;
	background-color: #222;
}

a {
	text-decoration: none;
	color: #FFFFFF;
	outline: none;
}

a:hover 
{
	color:#ffffff;
	text-decoration:none;
	cursor:pointer;
}

.tile-logos{
	margin:15px;
	height:75px;
}

.tile {
	display:flex;
	align-items:center;/*Vertical align*/
	justify-content:center;/*horizontal align*/

	width: 100%;
	max-width: 400px;
	height: 200px;

	margin: 30px auto;


	color: white;
	font-size: 27px;

	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: perspective(500px);
	transform: perspective(500px);
}

.inner {
	transform: translateZ(30px);
}

.gradient1{
	background: #59C173;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient2{
	background: #8A2387;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient3{
	background: #bc4e9c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient4{
	background: #ff00cc;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient5{
	background: #c21500;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #ffc500, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient6{
	background: #5433FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}