body{
	font-family: 'Quicksand', sans-serif;
	padding-top: 20px;
	background-color: #222;
}

a {
	text-decoration: none;
	color: #FFFFFF;
	outline: none;
}

a:hover
{
	color:#ffffff;
	text-decoration:none;
	cursor:pointer;
}

.btn{
	margin: 5px;
}

.maps {
	height: 500px;
	width: 100%;
	margin-bottom: 50px;
}