body{
	font-family: 'Quicksand', sans-serif;
	padding-top: 20px;
	background-color: #222;
}

a {
	text-decoration: none;
	color: #FFFFFF;
	outline: none;
}

a:hover
{
	color:#ffffff;
	text-decoration:none;
	cursor:pointer;
}

.btn{
	margin: 5px;
}

.mytable tbody td{
	vertical-align:middle;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}